@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

.tasklist-container {
    font-family: 'Baloo 2', cursive;
    background-color: rgba(255, 240, 245, 0.9); /*pastel pink */
    padding: 6px 15px;
    border-radius: 45px;
    border: 5px solid rgba(255, 182, 193, 0.8); /*light pink border */
    width: 359px;
    height: 656px;
    color: #5b2b33; /*dark pink text */
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.tasklist-title {
    margin: 0 0 0px;
    font-size: 22px;
    color: #d36b84; /*soft pink */
    text-align: center;
}

.tasklist-empty {
    text-align: left;
    opacity: 0.6;
}

.tasklist-user {
    margin-bottom: 0px;
}

.tasklist-username {
    font-size: 17px;
    color: #b5475e; /* muted pink */
}

.tasklist-items {
    margin: 0;
    padding-left: 18px;
    list-style: disc;
}

.tasklist-item {
    color: #5b2b33; /*dark pink */
}

.tasklist-item.done {
    text-decoration: line-through;
    color: #999; /* muted gray for completed tasks */;
}
